<header>
    <nav class="navbar navbar-default navbar-expand-md">
        <!-- Brand and toggle get grouped for better mobile display -->
        <p class=><span class="welcome">
                <a href="/">
                    <img src="{{root}}/public/assets/www/media/petFinder.png" width="100" height="100"
                        alt="Pet Finder Logo" class="img-fluid" class="rounded float-start">
                </a>
            </span>

            {{#if firstName}}

        <p class=><span class="welcome">Welcome,<br>{{firstName}} </span>
            {{/if}}
        <ul>
            {{#each navList}}
            <li><a href={{this.url}}>{{this.name}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>