<header>
    <img src="{{root}}/public/assets/www/media/petFinder.png" alt="Pet Finder Logo" class="img-fluid" class="rounded float-start" id="petFinderLogoHeader">
    <button class="btn btn-primary" id="loginButton" onclick="window.location.href='/users/login'">Login</button>
    <button class="btn btn-primary" id="signUpButton" onclick="window.location.href='/users/sign-up'">Sign Up</button>
</header>