<header>
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                {{!-- <a href="{{root}}" type="image/svg+xml">
                    <img src="{{root}}/public/assets/www/media/petFinder.png" alt="Pet Finder Logo" class="img-fluid" class="rounded float-start"> --}}
                <a href="/users/login">Login</a> or <a href="/users/sign-up">Signup</a> to find other users looking for pets.
            </p>
        </div>
    </div>
</header>