<header>
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                <a href="/users/login">Login</a> or <a href="/users/sign-up">Signup</a> to find other users looking for pets.
            </p>
        </div>
    </div>
</header>