<!--
    The homepage partial for the website.
    This partial is used for the homepage.
    Features of this partial:
        - Search for pets. Should have four input boxes: city, state, zip, and pet-type. Should be a dropdown menu for the state.
          Search will be a get request to "/pets/search-home"
          // Example route with query params: pets/search-home/?city=${city}&state=${state}&zip=${zip}&type=${type} 
        - Link to signup/Login pages.
        - Logo of the website "public/assets/www/media/logo.png"
-->

<!-- The body for the homepage -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Welcome to Pet Finder!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                This website is for pet owners to find other pet owners who are also looking for pets.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                Please search for pets by city and pet type.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="GET" action="/pets/search-home">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" pattern="[a-zA-Z ]+$" name="city" placeholder="City">
                </div>
                <div class="city-error">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" id="state" name="state" >
                        <option selected>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                        <option>Delaware</option>
                        <option>Florida</option>
                        <option>Georgia</option>
                        <option>Hawaii</option>
                        <option>Idaho</option>
                        <option>Illinois</option>
                        <option>Indiana</option>
                        <option>Iowa</option>
                        <option>Kansas</option>
                        <option>Kentucky</option>
                        <option>Louisiana</option>
                        <option>Maine</option>
                        <option>Maryland</option>
                        <option>Massachusetts</option>
                        <option>Michigan</option>
                        <option>Minnesota</option>
                        <option>Mississippi</option>
                        <option>Missouri</option>
                        <option>Montana</option>
                        <option>Nebraska</option>
                        <option>Nevada</option>
                        <option>New Hampshire</option>
                        <option>New Jersey</option>
                        <option>New Mexico</option>
                        <option>New York</option>
                        <option>North Carolina</option>
                        <option>North Dakota</option>
                        <option>Ohio</option>
                        <option>Oklahoma</option>
                        <option>Oregon</option>
                        <option>Pennsylvania</option>
                        <option>Rhode Island</option>
                        <option>South Carolina</option>
                        <option>South Dakota</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Utah</option>
                        <option>Vermont</option>
                        <option>Virginia</option>
                        <option>Washington</option>
                        <option>West Virginia</option>
                        <option>Wisconsin</option>
                        <option>Wyoming</option>
                    </select>
                </div>
                <div class="state-error">
                </div>
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" pattern="^[0-9]+$">
                </div>
                <div class="zip-error">
                </div>
                <div class="form-group">
                    <label for="type">Pet Type</label>
                    <select class="form-control" id="type" name="type" required>
                        <option selected>Dog</option>
                        <option>Cat</option>
                        <option>Bird</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="type-error">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div class="error">
            </div>
        </div>
    </div>
</div>
<script src="/public/js/home.js"></script>