/* #38b6ff is blue color of logo */

/* Create a schema that uses white, black and #38b6ff to make a very user-friendly interface */



header{
    background-color: white;
    height: 100px;
    width: auto;
    line-height: 2;
    overflow: hidden;
}

footer{
    background-color: white;
    height: 100px;
    width: auto;
    margin-top: 50px;
}

small {
    color: skyblue;
  }

table {
    height: 10px;
  }

#pet-list-container   {
    margin-top: 50px;
  }

.format-specifier {
    color: #00819f;

}