header{
    background-color: blue;
    height: 80px;
    width: auto;
}

footer{
    background-color: red;
    height: 100px;
    width: auto;
    margin-top: 50px;
}

small {
    color: skyblue;
  }

table {
    height: 10px;
  }

#pet-list-container   {
    margin-top: 50px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
   li {
     align-items: center;
    float: left;
  } 
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }  