<table class="table">
    <tbody>
        <tr>
            <td>
                <div id="show">
                </div>
            </td>
            <td>
                <div id="qna">
                </div>
                <div>
                    {{#if isNotPetUploadedDetails}}
                    <form id="askQuesForm">
                        <label for="question">Ask Questions</label>
                        <input id="question">
                        <button type="submit">Submit</button>
                    </form>
                    {{/if}}
                    <div id="error">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>
    let data = {{{ data }}}
</script>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/petsDetails.js"></script>