<div class="container">
    <div class="row pet-list">
        {{!-- <div     class="col bg-dark text-white">
            <div>
                <img src="/public/assets/www/media/logo.png">
            </div>
            <div>Roushan Kumar</div>
        </div>

        <div class="col bg-dark text-white">25%</div>
        <div class="col bg-dark text-white">25%</div>
        <div class="col bg-dark text-white">25%</div> --}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/petsDetails.js"></script>