<div style='float: right;'>
    <label for="sort">Sort:</label>
    <select id="sort">
        <option value="all">All</option>
        <option value="-1">Latest</option>
        <option value="1">Oldest</option>
    </select>


</div>
<div class="container" id="pet-list-container">

</div>
<div style='float: right;'>
    <button id="back">Back</button>
    <button id="next">Next</button>
</div>

<script>
  userDetails={{{userDetails}}}
</script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/adoptedPetList.js"></script>