<main>
    <header>
        <h1>PetFinder</h1>
    </header>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    
      <p class=><span class="welcome">Welcome, username</span> <br><a href="#" class=>My Account</a> | <a href="#">Logout</a>
      <ul>
            <li><a href="/users/userProfile">Update Profile</a></li>
            <li><a href="/users/favoriteList">Favorites</a></li>
            <li><a href="/users/accountSettings">Account Settings</a></li>
            <li><a href="/users/adoptedList">Adopted List</a></li>
            <li><a href="#">Upload Pet</a></li>
      </ul>
    
  
  </nav>
    
</main>