<!--
    The user profile page of the website
    This would consist of all the details about the user
    which would include everthing from details to the account
    Features of this page would include:
        - User details like name, phone number, etc
        - Email and Password updation 
        - Adoption details which will include pet adopted its details

    
    -->

<main>
    <header>
        <h1>PetFinder</h1>
    </header>

    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text"><span class="welcome">Welcome, username</span> <br><a href="#" class="navbar-link">My Account</a> | <a href="#" class="navbar-link">Logout</a>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Projects</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Settings</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    
</main>